[submodule "ogbench"]
	path = ogbench
	url = git@github.com:bmeyjohann/ogbench.git
[submodule "fasttd3"]
	path = fasttd3
	url = git@github.com:bmeyjohann/fasttd3.git
[submodule "IsaacLab"]
	path = IsaacLab
	url = git@github.com:bmeyjohann/IsaacLab.git
[submodule "unitree_ros"]
	path = unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
[submodule "unitree_rl_lab"]
	path = unitree_rl_lab
	url = git@github.com:bmeyjohann/unitree_rl_lab.git
[submodule "unitree_model"]
	path = unitree_model
	url = https://huggingface.co/datasets/unitreerobotics/unitree_model
[submodule "safe-locomotion"]
	path = safe-locomotion
	url = git@gitlab.kit.edu:uvxur/safe-locomotion.git
	branch = fb_navigation
[submodule "drqv2"]
	path = drqv2
	url = git@github.com:bmeyjohann/drqv2.git
[submodule "HighwayEnv"]
	path = HighwayEnv
	url = git@github.com:bmeyjohann/HighwayEnv.git
[submodule "safety-gymnasium"]
	path = safety-gymnasium
	url = git@github.com:bmeyjohann/safety-gymnasium.git
